@keyframes text-gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.logo-wi {
  border-radius: 50%;
  border: 0px solid #caa7ff;
  display: inline-block;
  padding: 10px;
  
  text-align: justify;
  transform: translateY(-15px);
  font-size: 500%;

  background: linear-gradient(90deg, #b6bfe9, #764ba2, #667eea, #b6bfe9);
  background-size: 600% 600%;
  animation: text-gradient 6s ease-in-out infinite;
 
}

/*.logo-wi {
  display: inline-block;
  font-size: 6.2em;
  color:rgb(0, 0, 0);
  border-radius: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  letter-spacing: -0.02em;
 
  transform: translateY(-10px);

  background: linear-gradient(90deg, #b6bfe9, #764ba2, #667eea, #b6bfe9);
  background-size: 600% 600%;
  animation: text-gradient 6s ease-in-out infinite;
}

/* 📱 Responsive para móvil */
@media (max-width: 768px) {
  .logo-wi {
    font-size: 2.5em;
    transform: translateY(-5px);
  }
}

@media (max-width: 480px) {
  .logo-wi {
    font-size: 3.8em;
    transform: translateY(-3px);
  }
}

.nav-logo-wi {
  font-size: 10px;
  font-weight: 100;
  padding: 4px 4px;
  line-height: 1;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  
  border: 2px solid #caa7ff;
  border-radius: 50%;
  letter-spacing: -0.05em;

  display: inline-block;
  transform: translateY(-2px);
}

/* nav logo 
.nav-logo-wi {
  letter-spacing: 0.06em;
  border-radius: 50%;
  color: #caa7ff;
  border: 2px solid #caa7ff;
  display: inline-block;
  font-size: 15px;
  text-align: justify;
  transform: translateY(-0px);
  font-weight: 400;
}